{% extends "admin/change_form.html" %}
{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
<script type="text/javascript">
django.jQuery(document).ready(function() {
    django.jQuery('input[name=regular_expression]').click(function(e){
    	var o={};
    	o.j = django.jQuery('[name=path]');
        if(this.value == 'True'){
        	django.jQuery.get('/seo/get_named_url_list/',{},function(r){
        		o.j.replaceWith(r);
        	});
        }else{
        	o.j.replaceWith('<input type="text" maxlength="250" name="path" class="vTextField" id="id_path"/>');
        }
    });
});
</script>
{% endblock %}